<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.yeng.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".home.YengApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="in.yeng.user.PDFPROVIDER"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pdf_provider_path" />
        </provider>

        <activity
            android:hardwareAccelerated="true"
            android:name=".home.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:hardwareAccelerated="true"
            android:name=".home.SplashScreen"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:hardwareAccelerated="true"
            android:name=".team.TeamMembersActivity"
            android:label="@string/title_activity_yeng_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".team.ProfileActivity" />
        <activity
            android:hardwareAccelerated="true"
            android:name=".team.ProfileImageViewerActivity"
            android:label="@string/title_activity_profile_image_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newsupdates.ExpandedNews"
            android:label="@string/title_activity_expanded_news"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>