<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsm.yeng">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.SplashActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".rules.RulesAndRegulationsActivity" />
        <activity
            android:name=".rules.RulesRegulationActivity"
            android:label="@string/title_activity_rules_regulation"
            android:theme="@style/AppTheme" />
        <activity android:name=".updates.DetailNewsActivity"
            android:theme="@style/AppThemes"
            android:label="Detail View"
            >

        </activity>
    </application>

</manifest>